@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    --primary-blue: #348feb;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 180px 1fr;
}

.sidebar{
    background-color: var(--primary-blue);
    color: white;
    height: 100vh;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 80px repeat(6, 50px) 30px repeat(3, 50px);
    gap: 10px;
    grid-row: span 2;
    align-items: center;
    justify-content: center;
}

.sidebar h2{
    font-size: 23px;
}

.sidebar img{
    justify-self: center;
}

.sidebar .communities{
    align-items: flex-start;
}

.sidebar h1{
    font-size: 30px;
}

.dashboard{
    width: 50px;
}

.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy{
    width: 25px;
}

.header{
    background-color: white;
}

.content{
    background-color: #dce3e4;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr 280px;
    grid-template-rows: 334px 1fr;
    gap: 20px;
}

.projects{
    grid-row: span 2;
}

.projects h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.project p{
    margin-top: 5px;
    font-size: 15px;
    color: gray;
}

.project{
    background-color: white;
    padding: 20px 20px;
    border-radius: 7px;
    width: 300px;
    height: 160px;
}

.projects-content{
    display: grid;
    width: 700px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.announcements-content{
    border-radius: 7px;
    padding: 20px;
    background-color: white;
    height: 250px;
}

.announcements h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.announcement{
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.trending{
    height: 320px;
    border-radius: 7px;
}

.trending-content{
    background-color: white;
    margin-top: 10px;
    height: 242px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 40px);
    gap: 25px;
    padding: 20px;
    align-content: center;
}

.user{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 20px 20px;
    column-gap: 20px;
    justify-items: start;
}

.profile-pic{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 25px;
    grid-row: span 2;
}

.user p{
    color: gray;
}